[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:leo-leesco/tpm.git
[submodule ".config"]
	path = .config
	url = git@github.com:leo-leesco/.config.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:leo-leesco/.tmux.git
